# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# VS Code
.vscode/

# Large datasets / generated lakehouse data
data/raw/**
data/bronze/**
data/silver/**
data/gold/**

# Keep folder structure
!data/raw/.gitkeep
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep

# Hugging Face cache
**/.cache/

# Spark local files
spark-warehouse/
metastore_db/
derby.log
*.crc

# OS
.DS_Store
Thumbs.db